body, .grey-bg {
    background-color: #F5F7FA;
}

.white-bg {
    background-color: white;
}

.border-grey {
    border-style: solid;
    border-width: thick;
    border-color: #F5F7FA;
}

.avatar {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.card-header .fa {
    transition: .3s transform ease-in-out;
}

.card-header .collapsed .fa {
    transform: rotate(90deg);
}

/* triangle desktop */

@media (min-width: 768px) {
    #tabs a.nav-link.active:after {
        content: "";
        width: 0;
        height: 0;
        position: relative;
        bottom: -50px;
        left: -10%;
        border-right: 15px solid transparent;
        border-left: 15px solid transparent;
        border-top: 15px solid #343a40;
    }
}

/* triangle mobile */

@media (max-width: 768px) {
    #tabs a.nav-link.active:after {
        content: "";
        position: relative;
        bottom: -50px;
        left: -30%;
        border: 15px solid transparent;
        border-top-color: #343a40;
    }
}

/* line */

.tab-content {
    border-top: 5px solid #343a40;
    padding: 20px 0px;
}

/* tabs */

#tabs a.nav-link {
    border: 2px solid #343a40;
    color: #343a40;
}

/* active tab */

#tabs a.nav-link:hover, #tabs a.nav-link:focus, #tabs a.nav-link.active {
    background: #343a40;
    color: #fff;
}

/* pagination */

.pagination {
    border: 1px solid #343a40;
    font-weight: bold;
}

.pagination li .page-link {
    color: #343a40;
}

.pagination li.active .page-link, .pagination li .page-link:hover {
    background-color: #343a40;
    border-color: #343a40;
    color: #fff;
}

/* sidebar */

@media (min-width: 768px) {
    .collapse.dont-collapse {
        display: block;
        height: auto !important;
        visibility: visible;
    }
}