@media (max-width: 768px) {
    .fullscreen {
        width: auto;
    }
}

@media (min-width: 768px) {
    .fullscreen {
        width: 70%;
    }
}

#detailscontainer .modal-content {
    background: #343a40;
    padding: 0;
}

#detailscontainer .modal-body {
    padding: 0;
}

#detailscontainer .modal-header, .modal-footer {
    border: 0;
    padding-top: 0;
    padding-bottom: 0;
}

#detailscontainer .modal-header .close {
    font-size: 36px;
    color: #fff;
    font-weight: 300;
    text-shadow: none;
    opacity: 1;
}